*{
    margin: 0;
}

body{
    /* background-color:#2B1B3D; */
}

.app{
    display:flex;
    justify-content:space-evenly;
    padding: 20px;
}

.app_header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 20px;
}

.app_stats{
    display:flex;
    justify-content:space-between;
}

.left{
    flex: 0.9;
}

.right{
    /* flex: 1; */
}
@media(max-width:960px){
  .app{
      flex-direction:column;
  }
}